<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" type="image/x-icon" href="/assets/media/favicon.png">
  <title>hello-worlds</title>
  {% asset_tag main.css %}
</head>
<body>
  <div class="layout">
    <header class="layout__header">
      {% include navigation/navigation.html %}
    </header>
    <main class="layout__main" role="main">
      {{ content }}
    </main>
    <footer class="layout__footer">
      {% include footer/footer.html %}
    </footer>
  </div>
  {% asset_tag main.js %}
</body>
</html>